/* Navbar. */
.navbar {
    background-color: #7CBD1E;
}

.navbar .buttongroup {
    list-style-type: none;
}

.navbar .button {
    text-decoration: none;
    color: #7CBD1E;
}

.navbar .button li{
    background-color: #BCEB3C;

    text-align: center;
    color: #7CBD1E;
    font-weight: 600;

    font-size: 18px;
    font-size: 1.15vw;
    text-wrap: nowrap;

    margin: 25px 0px 25px 0px;
    padding: 10px;

    transition: 0.3s;
}

.navbar .button li:hover {
    background-color: #F1F864;
}

.navbar .button li:active {
    background-color: #fcf9f9;
}