.bgindex {
    background-image: url("/img/bg_index_trans.png");
    background-repeat: no-repeat;
    background-size: clamp(0px, 80%, 390px) auto;
    background-position: right top;
}

.socialmediabuttons {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.socialmediabuttons li {
    margin: 10px;
}

.socialmediabuttons li img {
    max-width: 150px;
    width: 100%;
    transition: 0.15s;
}

.socialmediabuttons li img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}