@import "tailwindcss";

@font-face {
  font-family: Walkaway;
  src: url(assets/fonts/walkaway_semibold.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(assets/fonts/coolvetica.otf);
}

@font-face {
  font-family: Fredoka;
  src: url(assets/fonts/fredoka.ttf);
}

@theme {
  --font-walkaway:   "Walkaway", "sans-serif";
  --font-coolvetica: "Coolvetica", "sans-serif";
  --font-fredoka:    "Fredoka", "sans-serif";
}

body {
  overflow-y: scroll; /* Show scrollbars */
}