<div class="col-2 p-3 vh-100  
            sticky-xl-top 
            d-none d-xl-block 
            navbar">
    {{/*  Logo  */}}
    <div class="row">
        {{ $logo := resources.Get "img/logo.png" }}
        <img class="img-fluid" src="{{ $logo.Permalink }}" />
    </div>

    {{/*  Buttons.  */}}
    <div class="row p-0 m-0 buttongroupdiv">
        <nav class="p-0">
            <ul class="buttongroup p-0 m-0">
                {{/* Create main page button since it's at the root. */}}
                {{ $mainPage := site.GetPage "home" }}
                <a href="{{ $mainPage.RelPermalink }}" class="button"><li>{{ $mainPage.Title }}</li></a>

                {{/* Create buttons based on page indexes. */}}
                {{ range (site.GetPage "_index").Pages }}
                    <a href="{{ .RelPermalink }}" class="button"><li>{{ .LinkTitle }}</li></a>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>


{{/* {{ partial "menu.html" (dict "menuID" "main" "page" .) }} */}}